body{
  background-image: url('bg.gif');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Handlee', cursive;
  
}
/* 
################# Queries ########################
Paali, please try to display the animation speed somewhere on the screen
as for now, it is printing in the console, but not visible in UI 

Size of the border box changes, based on the avg array size, see if you could fix that somehow

Add highlight/shadow below bars, to make it look cooler, like in hover card effect, heheheheh


*/

.array-container {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  left: 120px;
}

.array-bar {
  width: 25px;
  border: 0.5px solid yellow;
  display: inline-block;
  margin: 0 1px;
  border-radius: 10px;
}

.array-bar:hover{
  background: linear-gradient(to bottom, black, green, greenyellow, yellow);
}
.btn{
  cursor: pointer;
  color: white;
  background-color: black;
  font-size: 15px;
  padding: 10px;
  margin: 4px;
  border-radius: 20px;
}

.btn:hover{
  color: yellow;
  background: radial-gradient(green, black);
}